:root {
  --brand-color: #1a73e8;
  --brand-color-hover: #1054ac;
  --brand-color-lightest: #d5e7ff;
  --heading-dark-color: #1a1b1e;
  --body-dark-color: #373b3e;
  --heading-light-color: #f1f3f4;
  --body-light-color: #e5e6e7;
  --surface-bg-light-color: #ffffff;
  --linear-gradient-overlay-darker: rgba(3, 2, 25, 0.9);
  --linear-gradient-overlay-dark: rgba(16, 18, 37, 0.85);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--body-dark-color);
  padding: 2rem;
  background-color: var(--brand-color-lightest);
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/* ************* */
/* Header styles */
/* ************* */

.header {
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  contain: layout paint;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.header__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    var(--linear-gradient-overlay-dark),
    var(--linear-gradient-overlay-darker)
  );
  z-index: -2;
}

.header__logo-box {
  position: absolute;
  top: 3.2rem;
  left: 4.8rem;
}

.header__logo {
  height: 6em;
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 50%;
  z-index: 1;
}

.header__title {
  font-size: clamp(3.2rem, 4vw, 6rem);
  color: var(--heading-light-color);
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  animation: moveInLeft 1s ease-out;
  transform: translateX(0);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__subtitle {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  color: var(--body-light-color);
  font-weight: 300;
  max-width: 75ch;
  margin: 0 auto;
  margin-bottom: 6rem;
  animation: moveInRight 1s ease-out;
  transform: translateX(0);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.btn {
  font-size: 1.8rem;
  padding: 1.8rem 3.2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  line-height: 1;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.btn:focus-visible {
  outline: 2px solid var(--brand-color-lightest);
  outline-offset: 4px;
}
.btn--primary {
  background-color: var(--brand-color-lightest);
  color: var(--body-dark-color);
  border: none;
  font-weight: 600;
}

.btn--secondary {
  background-color: transparent;
  color: var(--brand-color-lightest);
  border: 2px solid var(--brand-color-lightest);
  font-weight: 300;
}

/* ********************* */
/* Hero button animation */
/* ********************* */
.btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.335);
}

.btn--secondary:hover {
  background-color: var(--brand-color-lightest);
  color: var(--body-dark-color);
  font-weight: 600;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.335);
}
.btn--primary:active,
.btn--secondary:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.335);
}

.btn--primary::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(0);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  z-index: -2;
  pointer-events: none;
}

.btn--primary:hover::after {
  transform: scaleX(1.4) scaleY(2);
  background-color: var(--brand-color-lightest);
  opacity: 0;
  z-index: -2;
}

/* ************* */
/* Header styles end*/
/* ************* */
