@use "../abstracts/colors" as *;

.nav {
  position: fixed;
  top: 0;
  left: -2rem;
  margin-top: 2rem;
  width: 100%;
  height: 6rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background 0.3s;
}

.hamburger-menu {
  cursor: pointer;
  height: 3.2rem;
  width: 3.2rem;
  margin: 2rem 2rem 0 0;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  // Add a background circle behind the hamburger icon
  &::before {
    content: "";
    position: absolute;
    padding: 2.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.2rem;
    height: 4.2rem;
    background: $linear-gradient-overlay-darker;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.2s;
  }
}

.hamburger-menu span {
  display: block;
  position: relative;
  width: 3rem;
  height: 0.3rem;
  background: $brand-color-lightest;
  border-radius: 2rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.hamburger-menu span::before,
.hamburger-menu span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 3rem;
  height: 0.3rem;
  background: $brand-color-lightest;
  border-radius: 2rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger-menu span::before {
  top: -0.8rem;
}
.hamburger-menu span::after {
  top: 0.8rem;
}

.hamburger-menu.close span {
  background: transparent;
}
.hamburger-menu.close span::before {
  transform: translateY(0.8rem) rotate(45deg);
}
.hamburger-menu.close span::after {
  transform: translateY(-0.8rem) rotate(-45deg);
}

#menu-container {
  z-index: 1;
  min-width: 50%;
  min-height: 80%;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 3rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background: none;
}
#menu-container.overlay {
  visibility: visible;
  opacity: 1;
  background: $linear-gradient-overlay-darker;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu-container ul {
  padding: 0;
}
#menu-container li {
  list-style: none;
}
#menu-container a {
  color: $body-light-color;
  display: block;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 1.2rem 0;
  transition: color 0.2s;
}
#menu-container a:not(:last-child) {
  margin-bottom: 2.4rem;
}
