@use "../abstracts/colors" as *;

.btn {
  font-size: 1.8rem;
  padding: 1.8rem 3.2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  line-height: 1;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  &:focus-visible {
    outline: 2px solid $brand-color-lightest;
    outline-offset: 4px;
  }
  &--primary {
    background-color: $brand-color-lightest;
    color: $body-dark-color;
    border: none;
    font-weight: 600;
  }

  &--secondary {
    background-color: transparent;
    color: $brand-color-lightest;
    border: 2px solid $brand-color-lightest;
    font-weight: 300;

    &:hover {
      background-color: $brand-color-lightest;
      color: $body-dark-color;
      font-weight: 600;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.335);
    }
  }
}
.header__buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
