@use "../abstracts/colors" as *;

/* ************* */
/* Logo container*/
/* ************* */
.icon__container {
  display: inline-block;
  background-color: $brand-color-lightest;
  border-radius: 100%;
  height: 7em;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-card__icon {
  width: 4em;
  height: 4em;
  stroke: $brand-color;
}
