@use "../abstracts/colors" as *;

.trusted-by {
  width: 100%;
  padding: 10rem 2rem;
  background: $brand-color-lightest;
  text-align: center;

  &__title {
    font-size: 4rem;
    color: $heading-dark-color;
    margin-bottom: 4rem;
  }
  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    justify-items: center;
    align-items: center;
    margin-top: 6rem;
    transition: all 0.6s ease-in-out;
  }
  &__logo {
    transition: all 0.6s ease-in-out;
    opacity: 0.6;
    transition: opacity 0.3s;
    font-size: 2.6rem;
    font-weight: 700;
    color: $body-dark-color;

    &:hover {
      opacity: 1;
      cursor: pointer;
      color: $brand-color-hover;
      transition: all 0.6s ease-in-out;
    }
  }
}
