@use "../abstracts/colors" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $body-dark-color;
  padding: 2rem;
  background-color: $brand-color-lightest;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
